body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  text-align: center;
  text-justify: center;
}

.button-menu {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  border-radius: 12px;
  font-family: sans-serif;
}

.button-projects {
  background-color: #9EECFF;
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  border-radius: 12px;
  font-family: sans-serif;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
