body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.button-menu {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  border-radius: 12px;
  font-family: sans-serif;
}

.button-projects {
  background-color: #9EECFF;
  color: black;
  padding: 12px;
  text-decoration: none;
  border-radius: 12px;
  display: block;
  width: 200px;
  margin: 0 auto;
  }

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
